/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #e91e63, #673ab7);
    background-repeat: no-repeat;
    height: 90vh;
}

.navbar-toggler {
    animation: beatfade 2s ease-in-out infinite;
    border-radius: 5%;
}

@keyframes beatfade {
    0% {
        box-shadow: 0 0 15px red, 0 0 25px green, 0 0 35px green;
        /* Multiple border colors */
        transform: scale(1);
    }

    50% {
        box-shadow: 0 0 15px blue, 0 0 25px green, 0 0 35px red;
        /* Change order and colors as needed */
        transform: scale(1.2);
    }

    100% {
        box-shadow: 0 0 15px green, 0 0 25px red, 0 0 35px blue;
        /* Change order and colors as needed */
        transform: scale(1);
    }
}

.navbar,
.offcanvas-header {
    color: white;
    background: linear-gradient(135deg, #6737b4d7, #e90f87) !important;
}

.app {
    margin-top: 10vh !important;
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.required {
    text-align: center;
    color: red;
    font-size: smaller;
}

#task-date,
#task-time {
    height: 15vh;
    width: 25vh;
    margin-bottom: 2vh;
}

#task-time {
    background-image: url(/images/clock.png);
    background-repeat: no-repeat;
    background-position: 80%;
    background-size: 70%;
    margin-left: 7vh;
}

#task-date {
    background-image: url(/images/calender.gif);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 200%;
}

h1 {
    text-align: center;
    color: #333;
}

.input-container {
    display: flex;
    margin-bottom: 10px;
}

input[type="text"] {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
}

li span {
    flex: 1;
}

.delete-task {
    margin-left: 15vh;
    background-color: #ff5252;
    color: #fff;
    border: none;
    padding: 4px 8px;
    border-radius: 5px;
    cursor: pointer;
}

.offcanvas {
    width: 50% !important;
}

.offcanvas-body {
    background: linear-gradient(135deg, #e91e63, #673ab7) !important;
}



.animate-out {
    animation: shrinkAndFade 0.5s linear;
}

@keyframes shrinkAndFade {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}